:root {
	--primary-shade: #189ab4;
	--secondary-shade: #75e6da;
	--accent-shade: #d4f1f4;
	--dark-shade: #05445e;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background-color: var(--secondary-shade) !important;
}

/* Header Styles */
header nav {
	justify-content: space-between;
	align-items: baseline;
	padding: 1rem;
}

nav.bg-info {
	background-color: var(--primary-shade) !important;
}

.nav-item {
	display: flex;
}

.nav-link {
	padding: 0 1rem !important;
}

h1 {
	padding-left: 1rem;
}

/* Main Content */

/***
 Login/Register Page 
 ***/
main.login-register-page {
	height: 100%;
	display: flex;
}

.login-register-container {
	margin: auto;
	padding: 2rem;
	background-color: var(--primary-shade);
	border: none;
	border-radius: 16px;
	max-width: 100%;
}

.login-register {
	min-width: 350px;
}

.page-title {
	text-align: center;
	text-transform: uppercase;
	font-weight: bolder;
	color: white;
}
#hint_id_password1,
#hint_id_password2 {
	display: none;
}

.login-register p,
.form-label,
.form-text {
	color: white !important;
}

.form-label .asteriskField {
	color: red;
}

.register-btn,
.login-btn {
	width: 100%;
}

/*** 
Create a Ticket Page
***/

main.create-ticket__page {
	height: 100%;
	display: flex;
}

.create-ticket__container {
	padding: 2rem;

	max-width: 50%;
}

/*** 
View Ticket Page
***/

.ticket__container {
	margin-top: 2rem;
}

.ticket__container .ticketListItem {
	margin-bottom: 1rem;
}

.container.ticket-replies {
	border: 1px solid var(--dark-shade);
	border-radius: 1rem;
	background-color: var(--accent-shade);
}

.response {
	border-bottom: 1px dashed var(--dark-shade);
	padding: 1rem 0.25rem;
}

.ticket__info .ticketListItem__meta,
.ticket-replies .response__meta {
	font-style: italic;
	font-size: 0.75rem;
}

.ticketListItem__meta .ticketListItem__project {
	margin-right: 2rem;
}

.ticket__container textarea {
	margin: 1rem 0;
}

.ticket__container .form-label {
	color: initial !important;
}
