<div class="activities col-lg-3">
	<div class="activities__header">
		<h2>Activity Log</h2>
	</div>
	<ul class="activities__list">
		{% for ticket in tickets %}
		<div class="activities__box">
			<div class="activities__boxHeader ticketListItem__header">
				<span class="ticketListItem__owner">{{ ticket.owner }}</span> creat
				<span class="ticketListItem__actions"
					>{{ ticket.created|timesince }} ago</span
				>
			</div>
			<div class="actities_boxContent">
				<p>replied to {{ ticket.title }}</p>
			</div>
		</div>
		{% endfor %}
	</ul>
</div>
