{% extends 'main.html' %} {% block content %}
<main class="container-fluid">
	<div class="row">
		<h2>Home</h2>
		<!-- Projects Start -->

		{% include 'base/projects_component.html' %}

		<!-- Projects End -->

		<!-- Dashboard Start -->

		<div class="dashboard col-lg-6">
			<div class="dashboard__header">
				<h2>Dashboard</h2>
				<a href="{% url 'create-ticket' %}" class="btn btn-primary"
					>Create Ticket</a
				>
			</div>

			<p>{{ tickets.count }} Open Ticket{{ tickets.count|pluralize }}</p>
			<div class="ticketList">
				{% for ticket in tickets %}
				<div class="ticketListItem" id="ticket-{{ ticket.id }}">
					<div class="ticketListItem__header">
						<span class="ticketListItem__owner">{{ ticket.owner }}</span>
						<span class="ticketListItem__actions"
							>{{ ticket.created|timesince }} ago</span
						>
					</div>
					<div class="ticketListItem__title">
						<a href="{% url 'view-ticket' ticket.id %}"
							>{{ticket.title}} - Ticket ID: {{ticket.id}}</a
						>
					</div>
					<div class="ticketListItem__description">
						<p>{{ ticket.description }}</p>
					</div>
					<div class="ticketListItem__meta">
						<span class="ticketListItem__status">{{ ticket.status }}</span>
						<span class="ticketListItem__project">{{ ticket.project }}</span>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

		<!-- Dashboard End -->

		<!-- Activity Log Start -->
		{% include 'base/activities_component.html' %}

		<!-- Activity Log End -->
	</div>
</main>

{% endblock content %}
